# Environment variables
.env
.env.*

# Compiler files
cache/
out/

# Dependency directories
node_modules/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development
*.local

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
